---
import { Image } from 'astro:assets';
import img from '../assets/images/astro.jpg';
---

<html>
  <head>
    <title>Astro + pnpm + Sharp</title>
  </head>
  <body>
    <Image src={img} alt="" />
  </body>
</html>
